<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ConfigVersion" value="1" />
    <add key="WindowInfo" value="25,44,664,908,0" />
    <add key="NotesEditorWindowInfo" value="" />
    <add key="GuitarVolume" value="0" />
    <add key="GuitarVolumeMode" value="Game" />
    <add key="MinMsBeforeNotesStart" value="2000" />
    <add key="PreviewFadeLength" value="2000" />
    <add key="PreviewIncludeGuitar" value="True" />
    <add key="PreviewIncludeRhythm" value="True" />
    <add key="PreviewLength" value="20000" />
    <add key="PreviewStart" value="60000" />
    <add key="Singer" value="Male" />
    <add key="SingerMode" value="Game" />
    <add key="SongVolume" value="0" />
    <add key="SongVolumeMode" value="Game" />
    <add key="Year" value="" />
    <add key="YearMode" value="Game" />
    <add key="Gh3SustainClipping" value="True" />
    <add key="GameId" value="GH3_Wii" />
    <add key="LanguageId" value="" />
    <add key="AudioExportPlugin" value="XBADPCM Plugin" />
    <add key="AudioImportPlugin" value="Windows Audio" />
    <add key="FileCopyPlugin" value="Wii Scrubber" />
  </appSettings>
</configuration>